.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 102, 255, 0.23);
}

.content_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
}

.form_box {
    width: 100%;
}

.form {
    border: 1px solid;
    min-height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row_class {
    display: flex;
    flex-wrap: wrap;
}